<!DOCTYPE html>

<html>

<head>
    <title>About</title>
     {{!-- <link rel="image" href="/img/zohaib.jpg"> --}}
    <link rel="icon" href="/img/icon.jpg">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="main-conatent">
        {{>header}}
          <p>{{paragraph}}</p>
        <img class="portrait other" src="img/zohaib.jpg">
    </div>
    {{>footer}}
</body>

</html>